:root {
  --easing: cubic-bezier(0.4, 0.0, 0.2, 1);
  --box-shadow: 0 20px 25px -10px rgba(0, 0, 0, 0.15);
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: 'Avenir', sans-serif;
}

body {
  margin: 0;
}